.input_container {
    display:grid;
    grid-template-columns:1fr 1fr; gap:16px;
    
}

.input_field {
    border: 1px dotted black;
    justify-items: center;
    text-align: center;
}

.input_box {
    width: 20ch;
}


