.input_container {
    display:grid;
    grid-template-columns:1fr 1fr; 
    
}

.input_field {
    border: 1px solid black;
    justify-items: center;
    text-align: center;
}

.input_box {
    width: 20ch;
}

#header-list{
    display:flex;
    justify-content: space-between;
}

#header-list li{
   
}
